<div style="height: 100%">
	<form class="form-horizontal" style="padding-top: 2%;padding: 2%">
		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2 col-lg-2" for="butlab">Account
				Number:</label>
			<div class="col-sm-2 col-md-2 col-lg-2">
				<input class="form-control" id="butlab" type="text" maxlength="20"
					ng-model="searchRequest.account">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2 col-lg-2" for="agid">Agent Id:</label>
			<div class="col-sm-2 col-md-2 col-lg-2">
				<input class="form-control" id="agid" type="text" maxlength="20"
					ng-model="searchRequest.agentid">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2 col-lg-2" for="agna">Agent Name:</label>
			<div class="col-sm-2 col-md-2 col-lg-2">
				<input class="form-control" id="agna" type="text"
					ng-model="searchRequest.agentname">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2 col-lg-2"
				for="direct">Direction :</label>
			<div class="col-sm-2 col-md-2 col-lg-2">
				<select class="form-control" id="direct"
					ng-options="s for s in directionList"
					ng-model="searchRequest.calldirection"></select>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2 col-lg-2" for="dnis">Dialed To (DNIS):</label>
			<div class="col-sm-2 col-md-2 col-lg-2">
				<input class="form-control" id="dnis" type="text"
					ng-model="searchRequest.dnis">
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2 col-lg-2" for="ani">Dialed From (ANI):</label>
			<div class="col-sm-2 col-md-2 col-lg-2">
				<input class="form-control" id="ani" type="text"
					ng-model="searchRequest.ani">
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2 col-lg-2"
				for="daterang">Date Range:</label>
			<div class="col-sm-2 col-md-2 col-lg-2">
				<input type="text" class="form-control"
					 ng-model="searchRequest.starttime"
					  max="{{todayDate | date:'yyyy-MM-dd'}}" jqdatepicker />
			</div>
			
			<div class="col-sm-2 col-md-2 col-lg-2">
				<input type="text" class="form-control"
					ng-model="searchRequest.endtime"
					max="{{todayDate | date:'yyyy-MM-dd'}}" jqdatepicker/>
			</div>
		</div>
		
		<div class="wrapper">
    
       

		<div class="form-group" >
			<div class="col-sm-8 col-md-8 col-lg-8"></div>
			<div class=" col-sm-4 col-md-4 col-lg-4">
				<button type="button" class="btn btn-success"
					ng-click="getRecords()">Find <span class="glyphicon glyphicon-search" style="color: white"></span></button>
					<small ng-if="!isSearchenable" style="font-weight: 900;color: red;">{{searchErrormsg}}</small>
			</div>
		</div>
	</form>
</div>

