<div style="padding-top: 10%; border: 2px" class="ng-scope">

	<div class="col-sm-4 col-md-4 col-lg-4"></div>
	<div class="col-sm-3 col-md-3 col-lg-3"
		style="border: 1px solid; box-shadow: 6px 6px 9px #cbcbcc;">
		<div style="padding-top: 10%; display: inline-flex;">
			<i class="glyphicon glyphicon-user"
				style="padding-top: 8px; margin-right: 10px"></i> <input type="text"
				class="form-control ng-pristine ng-untouched ng-valid"
				placeholder="Username" ng-model="login.user"
				style="margin-right: 20px; padding-top: 5px">

		</div>
		<div
			style="padding-top: 5px; display: inline-flex; padding-bottom: 10%;">
			<input type="password"
				class="form-control ng-pristine ng-untouched ng-valid"
				placeholder="Password" ng-model="login.password"
				style="margin-top: 10px; margin-left: 24px;">
			<button type="button" class="btn btn-success" ng-click="onLoggedIn()"
				style="margin-left: 55px; height: 30px; padding-right: 10px; margin-top: 15px;"> <span class="glyphicon glyphicon-log-in"></span>       Login</button>
		</div>
	</div>
	<div class="col-sm-5 col-md-5 col-lg-5"></div>

</div>