<div ng-if="configDetails.recorderType == 'verint'">
<div class="col-sm-8 col-md-8 col-lg-8">
<div style="display: inline; ">

<div class="col-sm-3 col-md-3 col-lg-3">
	<form class="form-inline" style="padding-top: 5%;padding-bottom: 2%">
		<div class="form-group">
			<label>Search</label> <input type="text" ng-model="searchtable"
				class="form-control" placeholder="Search"> 
		</div>
	</form>
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
		<dir-pagination-controls  direction-links="true"
		boundary-links="true" > </dir-pagination-controls>
</div>

<div class="col-sm-3 col-md-3 col-lg-3" ng-if="isSupervisor">
		<button type="button" class="btn btn-success"
					ng-click="downloadRecords()" style="margin-top: 5%">
					download <span class="glyphicon glyphicon-download-alt
					"
						style="color: white"></span>
				</button>
				<small ng-if="!selectedRecord" style="font-weight: 900;color: red;"> No records selected</small>
</div>


</div>
	<div>
	
	
	<table class="table table-striped table-hover" style="border: 1px solid #ddd;">
		<thead>
			<tr>
				<th>  </th>
				<th ng-click="sort('account')">Account number <span
					class="glyphicon sort-icon" ng-show="sortKey=='account'"
					ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('agentid')">Agent Id <span
					class="glyphicon sort-icon" ng-show="sortKey=='agentid'"
					ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('agentname')">Agent Name <span
					class="glyphicon sort-icon" ng-show="sortKey=='agentname'"
					ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('starttime')">Start Time <span
					class="glyphicon sort-icon" ng-show="sortKey=='starttime'"
					ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('endtime')">End Time <span
					class="glyphicon sort-icon" ng-show="sortKey=='endtime'"
					ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('callingparty')">Calling <span
					class="glyphicon sort-icon" ng-show="sortKey=='callingparty'"
					ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('calledparty')">Called <span
					class="glyphicon sort-icon" ng-show="sortKey=='calledparty'"
					ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('duration')">Duration <span
					class="glyphicon sort-icon" ng-show="sortKey=='duration'"
					ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th>Audio</th>
				<th ng-if="isSupervisor">Download</th>
			</tr>
		</thead>
		<tbody>
			<tr
				dir-paginate="result in searchResult|orderBy:sortKey:reverse|filter:searchtable|itemsPerPage:10" ng-if="isResult" >
				<td><input type="checkbox" ng-model="result.vrientJsonObject.selected"></td>
				<td>{{result.vrientJsonObject.account}}</td>
				<td>{{result.vrientJsonObject.agentid}}</td>
				<td>{{result.vrientJsonObject.agentname}}</td>
				<td>{{result.vrientJsonObject.starttime}}</td>
				<td>{{result.vrientJsonObject.endtime}}</td>
				<td>{{result.vrientJsonObject.callingparty}}</td>
				<td>{{result.vrientJsonObject.calledparty}}</td>
				<td>{{result.vrientJsonObject.duration}}</td>
				<td><a ng-click="StartMeUp(result.vrientJsonObject)"><span class="glyphicon glyphicon-play"></span></a></td>
				<td ng-if="isSupervisor"><a ng-click="download(result.vrientJsonObject)"><span class="glyphicon glyphicon-download-alt"></span></a></td>
			</tr>
			<p ng-if="!isResult" style="font-weight: 900;">No Records</p>
		</tbody>
	</table>
		
		</div>
		
</div>


<div class="col-sm-4 col-md-4 col-lg-4">
	<OBJECT ID="Player" width="320" height="310"
  CLASSID="CLSID:6BF52A52-394A-11d3-B153-00C04F79FAA6">

  
</OBJECT>
</div>
</div>

<div ng-if="configDetails.recorderType != 'verint'">
<div class="col-sm-8 col-md-8 col-lg-8">
<div style="display: inline; ">

<div class="col-sm-3 col-md-3 col-lg-3">
	<form class="form-inline" style="padding-top: 5%;padding-bottom: 2%">
		<div class="form-group" ng-if="false">
			<label>Search</label> <input type="text" ng-model="searchtable"
				class="form-control" placeholder="Search" > 
		</div>
	</form>
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
		<dir-pagination-controls  direction-links="true"
		boundary-links="true" > </dir-pagination-controls>
</div>

<div class="col-sm-3 col-md-3 col-lg-3">

				<small ng-if="!selectedRecord" style="font-weight: 900;color: red;"> No records selected</small>
</div>


</div>
	<div>
	
	
	<table class="table table-striped table-hover" style="border: 1px solid #ddd;">
		<thead>
			<tr>
				<th ng-click="sort('profileid')">Profile Id <span
					class="glyphicon sort-icon" ng-show="sortKey=='profileid'"
					ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('sourceaddress')">Called <span
					class="glyphicon sort-icon" ng-show="sortKey=='sourceaddress'"
					ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('destinationaddress')">Caller <span
					class="glyphicon sort-icon" ng-show="sortKey=='destinationaddress'"
					ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('starttimestamp')">Start Time <span
					class="glyphicon sort-icon" ng-show="sortKey=='starttimestamp'"
					ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('endtimestamp')">End Time <span
					class="glyphicon sort-icon" ng-show="sortKey=='endtimestamp'"
					ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th ng-click="sort('duration')">Duration <span
					class="glyphicon sort-icon" ng-show="sortKey=='duration'"
					ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th>Link</th>
				<th>Download</th>
				<th>Audio</th>
			</tr>
		</thead>
		<tbody>
			<tr
				dir-paginate="result in searchResult|orderBy:sortKey:reverse|filter:{profileid:loggedInUser}|itemsPerPage:10" ng-if="isResult" >
				<td data-toggle="tooltip" title={{result}}>{{result.profileid}}</td>
				<td>{{result.sourceaddress}}</td>
				<td>{{result.destinationaddress}}</td>
				<td>{{result.starttimestamp}}</td>
				<td>{{result.endtimestamp}}</td>
				<td>{{result.duration}}</td>
				<td><button type="button" class="btn btn-success"
					ng-click="getLink(result)">
					Getlink
				</button>
				<small ng-if="result.downloadpath" style="font-weight: 900;"> {{result.downloadpath}}</small></td>
				<td><a ng-click="download(result)"><span class="glyphicon glyphicon-download-alt"></span></a></td>
				<td><a ng-click="StartMeUp(result)"><span class="glyphicon glyphicon-play"></span></a></td>
			</tr>
			<p ng-if="!isResult" style="font-weight: 900;">No Records</p>
		</tbody>
	</table>
		
		</div>
		
</div>


<div class="col-sm-4 col-md-4 col-lg-4">
	<OBJECT ID="Player" width="320" height="310"
  CLASSID="CLSID:6BF52A52-394A-11d3-B153-00C04F79FAA6">

  
</OBJECT>
</div>
</div>



<script>
function StartMeUp (url)
{
    Player.URL = url;
}

function ShutMeDown ()
{
    Player.controls.stop();
}


</script>