<div style="height: 100%" ng-if="configDetails.recorderType == 'verint'">
	<form class="form-horizontal"
		style="padding-top: 2%; padding-bottom: 2%">
		
		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2 col-lg-2"
				for="daterang">Date Range:</label>
			<div class="col-sm-2 col-md-2 col-lg-2">
				<select class="form-control" id="daterang"
					ng-options="s.value for s in daySelectList"
					ng-model="daySelected.selected" ng-required="true"></select>
			</div>

			
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2 col-lg-2" for="butlab">Account
				Number:</label>
			<div class="col-sm-2 col-md-2 col-lg-2">
				<input class="form-control" id="butlab" type="text" maxlength="20"
					ng-model="searchRequest.account">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2 col-lg-2" for="agid">Agent
				Id:</label>
			<div class="col-sm-2 col-md-2 col-lg-2">
				<input class="form-control" id="agid" type="text" maxlength="20"
					ng-model="searchRequest.agentid">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-8 col-md-8 col-lg-8"></div>
			<div class=" col-sm-4 col-md-4 col-lg-4">
				<button type="button" class="btn btn-success"
					ng-click="getRecords()">
					Search <span class="glyphicon glyphicon-search"
						style="color: white"></span>
				</button>
				<small ng-if="!isSearchenable" style="font-weight: 900;color: red;"> {{searchErrormsg}}</small>
			</div>
		</div>
	</form>
</div>


<div style="height: 100%" ng-if="configDetails.recorderType != 'verint'">
	<form class="form-horizontal"
		style="padding-top: 2%; padding-bottom: 2%">
		
		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2 col-lg-2"
				for="daterang">Date Range:</label>
				
			<div class="col-sm-2 col-md-2 col-lg-2">
				<input type="text" class="form-control" id = "startDateTime"
					 ng-model="searchRequest.startdate" jqdatetimepicker />
			</div>
			
			<div class="col-sm-2 col-md-2 col-lg-2">
				<input type="text" class="form-control" id = "endDateTime"
					ng-model="searchRequest.enddate" jqdatetimepicker/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2 col-md-2 col-lg-2" for="ani">CVS Key:</label>
			<div class="col-sm-2 col-md-2 col-lg-2">
				<input class="form-control" id="ani" type="text"
					ng-model="searchRequest.cvskey">
			</div>
		</div>
				<div class="form-group">
			<div class="col-sm-8 col-md-8 col-lg-8"></div>
			<div class=" col-sm-4 col-md-4 col-lg-4">
				<button type="button" class="btn btn-success"
					ng-click="getNtrRecords()">
					Search <span class="glyphicon glyphicon-search"
						style="color: white"></span>
				</button>
				<small ng-if="!isSearchenable" style="font-weight: 900;color: red;"> {{searchErrormsg}}</small>
			</div>
		</div>
	</form>
</div>