<!DOCTYPE html>
<html>
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="css/bel.css">
<link rel="stylesheet" href="css/bootstrap.min.css">

<script type="text/javascript" src="./js/jquery.js"></script>


<style>
.loader {
	position: absolute;
	height: 80px;
	width: 80px;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	background: url(./images/ajax-loader.gif);
	background-size: 100%;
}
</style>
</head>

<body ng-app="vrplay" ng-controller="vrplayController">
	<div class="container-fluid"
		style="padding: 4px; background: linear-gradient(top, #3cf, #078); background: -webkit-linear-gradient(right, #060606, #6b6f6f); background: -moz-linear-gradient(top, #3cf, #078);">
		<div class="row-alert">
			<div
				ng-class="{'alert alert-success':isSuccessResponse, 'alert alert-danger':!isSuccessResponse}"
				ng-if="responseDescription.length > 1"
				style="height: 3%; padding-left: 35%">
				<button type="button" class="close" aria-label="Close"
					ng-click="clearMessage()">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>{{responseStatus}}</strong> {{responseDescription}}
			</div>

		</div>
		<div class="loading" ng-show="ajaxon">Loading&#8230;</div>
		<!-- <div class="loader" ng-show="ajaxon"></div> -->
		<div class="row row-header">
			<div class="col-sm-10 col-md-10 col-lg-10"
				style="display: inline-flex; height: 100%">
				<img class="default" src="./images/comitFS-Logo-275px.png"
					alt="comitFS" style="width: 18%; height: 90%;">
				<h1 ng-if="isLoggedin"
					style="color: whitesmoke; font-weight: bold; margin-left: 17%; font-family: serif; margin-top: 1.5%">CAS
					Voice Recorder Player</h1>
			</div>
			<div class="col-sm-2 col-md-2 col-lg-2"
				style="display: inline-flex; height: 100%" ng-if="isLoggedin">
				<i class="glyphicon glyphicon-user"
					style="margin-right: 5px; padding-top: 1.5%; margin-left: 40%; height: 90%"></i>
				<p
					style="font-weight: bolder; font-style: italic; color: whitesmoke; font-size: 15px;">{{loggedInUser}}</p>
			</div>
		</div>
		<div class="row row-body">


			<div class="col-sm-2 col-md-2 col-lg-2" style="height: 100%">
				<div ng-include="'./templates/loginHeader.html'" ng-if="!isLoggedin"
					style="padding-left: 50%; padding-top: 50%;"></div>
				<div class="row-tabs" ng-if="isLoggedin"
					style="background-color: whitesmoke; border-radius: 4px; height: 100%">
					<div class="col-sm-12 col-md-12 col-lg-12" style="height: 100%">
						<ul class="nav nav-tabs tabs-left sideways" style="height: 100%;">

							<li class="active"><a href="#buttonsettingstab"
								data-toggle="tab" style="border: 0px; font-weight: bolder;">Button
									Settings</a></li>
							<li><a href="#userattributetab" data-toggle="tab"
								style="border: 0px; font-weight: bolder;">User Attributes</a></li>
							<li><a href="#traderfeaturetab" data-toggle="tab"
								style="border: 0px; font-weight: bolder;">Trader Features</a></li>
							<li><a href="#loginlogouttab" data-toggle="tab"
								style="border: 0px; font-weight: bolder;">Login/Force Logout</a></li>
							<li><a href="#changepasswordtab" data-toggle="tab"
								style="border: 0px; font-weight: bolder;">Change Password</a></li>


						</ul>
					</div>

				</div>
			</div>
			<!-- End of Logged in -->


			<div class="col-sm-10 col-md-10 col-lg-10" style="height: 100%"
				ng-if="isLoggedin">
				<div class="row" style="height: 100%">
					<div class="tab-content" style="height: 100%">
						<div class="tab-pane active" id="buttonsettingstab"
							style="height: 100%">
							<div ng-include="'./templates/buttonSettings.html'"
								style="height: 100%"></div>
						</div>
						<div class="tab-pane fade" id="userattributetab"
							style="height: 100%">
							<div ng-include="'./templates/userAttributes.html'"
								style="height: 100%"></div>
						</div>
						<div class="tab-pane fade" id="traderfeaturetab"
							style="height: 100%">
							<div ng-include="'./templates/traderFeatures.html'"
								style="height: 100%"></div>
						</div>
						<div class="tab-pane fade" id="changepasswordtab"
							style="height: 100%">
							<div ng-include="'./templates/changePassword.html'"
								style="height: 100%"></div>
						</div>
						<div class="tab-pane fade" id="loginlogouttab"
							style="height: 100%">
							<div ng-include="'./templates/loginLogout.html'"
								style="height: 100%"></div>
						</div>
					</div>
				</div>


			</div>
		</div>


		<div class="modal" tabindex="-1" role="dialog" id="belModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">{{belmodel.modelHeader}}</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>{{belmodel.modelBody}}</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">{{belmodel.modelClose}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript" src="./js/bootstrap.js"></script>
	<script type="text/javascript" src="./js/angular.min.js"></script>
	<script type="text/javascript" src="./js/ngDraggable.js"></script>
	<script type="text/javascript"
		src="./js/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script type="text/javascript" src="./js/bootstrap-show-password.js"></script>
	<script type="text/javascript" src="./controller/vrplayController.js"></script>
	<script type="text/javascript" src="./service/vrplayService.js"></script>
	<script type="text/javascript"
		src="./controller/loginHeaderController.js"></script>
	<script type="text/javascript" src="./config/vrplayConfig.js"></script>




</body>



</html>