<!DOCTYPE html>
<html>
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="css/bel.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 <link rel="stylesheet" href="css/jquery.datetimepicker.min.css">

<script type="text/javascript" src="./js/jquery.js"></script>


<style>
.loader {
	position: absolute;
	height: 80px;
	width: 80px;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	background: url(./images/ajax-loader.gif);
	background-size: 100%;
}
</style>
</head>

<body ng-app="vrplay" ng-controller="vrplayController">
	<div class="container-fluid" style="padding: 4px; background: white;">
		<div class="row-alert">
			<div
				ng-class="{'alert alert-success':isSuccessResponse, 'alert alert-danger':!isSuccessResponse}"
				ng-if="responseDescription.length > 1"
				style="height: 3%; padding-left: 35%">
				<button type="button" class="close" aria-label="Close"
					ng-click="clearMessage()">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>{{responseStatus}}</strong> {{responseDescription}}
			</div>

		</div>
		<div class="loading" ng-show="ajaxon">Loading&#8230;</div>
		<!-- <div class="loader" ng-show="ajaxon"></div> -->
		<div class="row  col-sm-12 col-md-12 col-lg-12"
			style="background: #223e6e">
			<div class="col-sm-3 col-md-3 col-lg-3">
				<img class="img-fluid" src="./images/comitFS-Logo-275px.png"
					alt="comitFS">
			</div>
			<div class="col-sm-5 col-md-5 col-lg-5"></div>
			<div class="col-sm-3 col-md-3 col-lg-3">
				<h1  align="right"
					style="color: aliceblue; text-align: right;">Audit Dashboard</h1>
			</div>
			<div class="col-sm-1 col-md-1 col-lg-1" ng-if="isLoggedin">
				<p style="text-align: center; color: aliceblue">
					<span class="glyphicon glyphicon-user"></span> {{loggedInUser}}
				</p>
				<button type="button" class="btn btn-danger" ng-click="getLogout()">
					Logout <span class="glyphicon glyphicon-log-out"
						style="color: white"></span>
				</button>
			</div>
		</div>
		<div class="row  col-sm-12 col-md-12 col-lg-12">
			<div ng-include="'./templates/loginHeader.html'" ng-if="!isLoggedin"></div>
			<div class="row col-sm-12 col-md-12 col-lg-12"
				style="padding-bottom: 1%" ng-if="isLoggedin">
				<ul class="nav nav-tabs " id="myTab"overflow:initial;">
					<li class="active" style="color: white; font-weight: bold;"><a ng-click="setActiveTab('search')"
						data-target="#searchtab" data-toggle="tab"
						style="color: #0a7cb5; font-family: sans-serif; font-size: large;">Search</a></li>
					<li style="color: white; font-weight: bold;" ng-if="configDetails.recorderType == 'verint'"><a ng-click="setActiveTab('adsearch')"
						data-target="#advancetab" data-toggle="tab"
						style="color: #0a7cb5; font-family: sans-serif; font-size: large;">Advance</a></li>
				</ul>


				<div style="background-color: #eaeaea; overflow: initial;">
					<div class="tab-content">
						<div class="tab-pane active" id="searchtab">
							<div ng-include="'./templates/searchTab.html'"></div>
						</div>
						<div class="tab-pane" id="advancetab" ng-if="configDetails.recorderType == 'verint'">
							<div ng-include="'./templates/advanceTab.html'"></div>
						</div>
					</div>

				</div>
			</div>
			<hr style="border-top: 1px solid #8c8b8b; width: inherit;"
				ng-if="isLoggedin">
			<div class="row  col-sm-12 col-md-12 col-lg-12" ng-if="isLoggedin">
				<div ng-include="'./templates/resultTab.html'"></div>
			</div>

		</div>

	</div>


	<script type="text/javascript" src="./js/bootstrap.js"></script>
	<script type="text/javascript" src="./js/angular.min.js"></script>
	<script type="text/javascript" src="./js/jquery.min.js"></script>
	<script type="text/javascript" src="./js/xml2json.min.js"></script>
	<script type="text/javascript" src="./js/jquery.datetimepicker.full.min.js"></script>
	<script type="text/javascript" src="./js/jquery-ui.js"></script>
	<script type="text/javascript" src="./js/ngDraggable.js"></script>
	<script type="text/javascript" src="./js/dirPagination.js"></script>
	<script type="text/javascript" src="./js/angular-file-saver.js"></script>
	<script type="text/javascript" src="./js/jszip.min.js"></script>
	<script type="text/javascript" src="./js/jszip-utils.min.js"></script>
	<script type="text/javascript" src="./js/FileSaver.min.js"></script>
	<script type="text/javascript"
		src="./js/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script type="text/javascript" src="./js/bootstrap-show-password.js"></script>
	<script type="text/javascript" src="./controller/vrplayController.js"></script>
	<script type="text/javascript" src="./service/vrplayService.js"></script>
	<script type="text/javascript"
		src="./controller/loginHeaderController.js"></script>
	<script type="text/javascript" src="./config/vrplayConfig.js"></script>




</body>



</html>