@import url(https://fonts.googleapis.com/css?family=Raleway);

 html {
    height: 100%;
}

body {
    height: 100%;
}



.container-fluid {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.row-header{
	height:10%;
    overflow: auto;
	
}
.row-body {
    height:90%;
    overflow: auto;
}

.row-first {
    height:100%;
    overflow: auto;
}
.row-tab {
    height:100%;
     overflow: auto;
}

.row-tab-header {
    height:10%;
     overflow: auto;
}

.row-button {
    height:90%;
    overflow: auto;
}

.row-button-nav {
    height:10%;
    overflow: auto;
}
.row-button-detail {
    height:100%;
    overflow: auto;
}

.row-logo {
    height:100%;
    overflow: auto;
}

.row-logged {
    height:5%;
    overflow: auto;
}

.row-tabs {
    height:80%;
    overflow: auto;
}



body {
	font-family: 'Raleway';
}

header {
	text-align: center;
	padding: 120px 0;
	background: #fff;
	color: #000;
}

header h1 {
	margin: 0 0 15px 0;
	padding: 0;
	font-size: 42px;
	font-weight: normal;
}

header h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #999;
}

header h3 a {
	color: #09c;
	text-decoration: none;
}

header h3 a:hover {
	color: #09c;
	text-decoration: underline;
}

section .wrap {
	width: 1024px;
	text-align: center;
	margin: 0 auto;
	padding: 120px 0 60px 0;
}

section .btn {
	margin: 0 30px 60px 30px;
}

section.one {
	background: #1abc9c;
}

section.two {
	background: #f5d76e;
}

section.three {
	background: #d24d57;
}

section.four {
	background: #f1a9a0;
}

section.five {
	background: #c5eff7;
}

section.six {
	background: #fde3a7;
}

section.seven {
	background: #81cfe0;
}

.btn {
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2px;
	padding: 13px 17px;
	border: none;
	-webkit-border-radius: 2px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 2px;
	-moz-background-clip: padding;
	border-radius: 2px;
	background-clip: padding-box;
	-webkit-transition: color 0.2s linear, background-color 0.2s linear;
	transition: color 0.2s linear, background-color 0.2s linear;
}

.btn.btn-default {
	color: #000;
	background-color: #ffffff;
	border: 1px solid #e6e6e6;
}

.btn.btn-default.btn-border {
	border-color: #ffffff;
	color: #fff;
}

.btn.btn-default.btn-3d {
	box-shadow: inset 0 -2px 0 #cccccc;
}

.btn.btn-default:hover {
	background-color: #e6e6e6;
	color: #000;
}

.btn.btn-primary {
	background-color: #3498db;
}

.btn.btn-primary.btn-border {
	border-color: #3498db;
	color: #3498db;
}

.btn.btn-primary.btn-3d {
	box-shadow: inset 0 -2px 0 #196090;
}

.btn.btn-primary:hover {
	background-color: #217dbb;
	color: #fff;
}

.btn.btn-success {
	background-color: #2ecc71;
}

.btn.btn-success.btn-border {
	border-color: #2ecc71;
	color: #2ecc71;
}

.btn.btn-success.btn-3d {
	box-shadow: inset 0 -2px 0 #1b7943;
}

.btn.btn-success:hover {
	background-color: #25a25a;
	color: #fff;
}

.btn.btn-info {
	background-color: #81cfe0;
}

.btn.btn-info.btn-border {
	border-color: #81cfe0;
	color: #81cfe0;
}

.btn.btn-info.btn-3d {
	box-shadow: inset 0 -2px 0 #32aec9;
}

.btn.btn-info:hover {
	background-color: #58bfd6;
	color: #fff;
}

.btn.btn-warning {
	background-color: #f39c12;
}

.btn.btn-warning.btn-border {
	border-color: #f39c12;
	color: #f39c12;
}

.btn.btn-warning.btn-3d {
	box-shadow: inset 0 -2px 0 #976008;
}

.btn.btn-warning:hover {
	background-color: #c87f0a;
	color: #fff;
}

.btn.btn-danger {
	background-color: #c0392b;
}

.btn.btn-danger.btn-border {
	border-color: #c0392b;
	color: #c0392b;
}

.btn.btn-danger.btn-3d {
	box-shadow: inset 0 -2px 0 #6d2018;
}

.btn.btn-danger:hover {
	background-color: #962d22;
	color: #fff;
}

.btn.btn-lg {
	font-size: 14px;
	padding: 17px 24px;
}

.btn.btn-sm {
	padding: 9px 14px;
}

.btn.btn-xs {
	font-size: 11px;
	padding: 7px 12px;
}

.btn.btn-border {
	border: 2px solid;
	background: transparent;
}

.btn.btn-round {
	-webkit-border-radius: 40px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 40px;
	-moz-background-clip: padding;
	border-radius: 40px;
	background-clip: padding-box;
}

.btn.btn-square {
	-webkit-border-radius: 0;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 0;
	-moz-background-clip: padding;
	border-radius: 0;
	background-clip: padding-box;
}

.customButton-left {
	background-color: #81cfe0;
	box-shadow: inset 0 -2px 0 #32aec9;
	-webkit-border-radius: 40px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 40px;
	-moz-background-clip: padding;
	border-radius: 40px;
	background-clip: padding-box;
	font-size: 14px;
	padding: 12px 12px;
	width: 150px;
	height: 10px;
	font-size: 10px;
	font-weight: bold;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.customButton-right {
	background-color: #81cfe0;
	box-shadow: inset 0 -2px 0 #32aec9;
	-webkit-border-radius: 40px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 40px;
	-moz-background-clip: padding;
	border-radius: 40px;
	background-clip: padding-box;
	font-size: 14px;
	padding: 12px 12px;
	width: 150px;
	height: 10px;
	font-size: 10px;
	font-weight: bold;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.custombackground{
    color: #fff;
    text-align:center;
    padding:100px 0;
    width:400px;
    height:50px;
    background: linear-gradient(top, #3cf, #078);
    background: -webkit-linear-gradient(top, #3cf, #078);
    background: -moz-linear-gradient(top, #3cf, #078);
}

#container > div
{
    display: inline-block;
    border: solid 1px #000;
}
#container
{
    border: solid 1px #ff0000;
    text-align: center;
    margin: 0px auto;
    width: 40%;
}
.zui-table {
    border: solid 1px #c0c0c0;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table th {
    background-color: #DDEFEF;
    border: solid 1px #c0c0c0;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table td {
    border: solid 1px #c0c0c0;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
input{
	height: 25px;
}


/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}