.tabs-left {
  border-bottom: none !important;
  padding-top: 2px !important;
}

.tabs-left {
  border-right: 1px solid #ddd !important;
}


.tabs-left>li {
  float: none !important;
  margin-bottom: 2px !important;
}

.tabs-left>li {
  margin-right: -1px !important;
}


.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd !important;
  border-right-color: transparent !important;
}

.tabs-left>li>a {
  border-radius: 4px 0 0 4px !important;
  margin-right: 0 !important;
  display: block !important;
}

.form-control{
	width: 50% !important;
}

.left-inner-addon {
    position: relative !important;
}

.tabs-left>li>a {
  border-radius: 4px 0 0 4px !important;
  margin-right: 0 !important;
  display:block !important;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0 !important;
  margin-right: 0 !important;
}
.left-inner-addon input {
    padding-left: 30px !important;    
}
.left-inner-addon i {
    position: absolute !important;
    padding: 10px 12px !important;
    pointer-events: none !important;
}

.tabs-right>li {
  margin-left: -1px !important;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd !important;
  border-right-color: transparent !important;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd !important;
  border-left-color: transparent !important;
}

label,h4,p {
    color: #fbfafa !important;
   
}
.container-narrow {
    background: url(/images/black-wood.jpg) repeat 0 0;
}

body { 
    background: url(/images/black-wood.jpg) repeat 0 0;
}